* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 1;
}

html {
    background-image: url('img/wallpaper.jpg');
    background-repeat: repeat;
    background-attachment: fixed; 
    font-family: 'Calibri', sans-serif;
}


body {
    min-height: 650px;
    width: 70%;
    margin: auto;
    margin-block: 1%;
    padding-bottom: 2%;
    border-radius: 20px;
    background-color: aliceblue;
    color: black;
}

header {
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    background-color: aliceblue;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 5px 5px;
}

nav ul li:hover {
    background-color: #9FBCCF;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li:hover {
    background-color: #9FBCCF;
    ;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 200px;
}

h1 {
    text-align: center;
    font-weight: 200;
    background-color: #092435;
    border-radius: 20px;
    color: white;
    padding: 20px;
    margin: 0;
}

section {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
