    /* Styles for the section 
    
    section {
        text-align: center;
    }*/
    /* Styles for the containers */
    
    .conteneur {
        text-align: left;
    }
    /* Styles for headers */
    
    h2,
    h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #333;
        text-align: center;
        border-bottom: 2px solid #333;
        padding-bottom: 5px;
    }
    /* Specific style for h3 */
    
    h3 {
        font-size: 1.2em;
    }
    /* Styles for the introduction */
    
    section>h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: #555;
    }
    
    section>p {
        margin-bottom: 20px;
        text-align: left;
    }
    /* Styles for the form */
    
    form {
        margin-top: 20px;
        text-align: center;
        justify-content: center;
    }
    
    input[type="url"] {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    
    .submit-btn {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
    }
    
    .submit-btn:hover {
        background-color: #45a049;
    }
    /* Section pour l'URL par défaut */
    
    .url-default {
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 8px;
        margin-top: 20px;
    }
    
    .url-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .url-text {
        background-color: #e1f7d5;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        color: #4CAF50;
        font-weight: bold;
        margin: 0;
        flex-grow: 1;
    }
    
    .copy-btn {
        padding: 8px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin-left: 10px;
    }
    
    .copy-btn:hover {
        background-color: #0056b3;
    }
    /* Instructions sous l'URL */
    
    .url-instructions {
        font-size: 13px;
        color: #666;
        font-style: italic;
        margin-top: 10px;
    }
    /* Style pour les messages d'erreur */
    
    .messages {
        margin-top: 20px;
    }
    
    .alert-danger {
        color: white;
        background-color: #f44336;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    /* Footer styles */
    
    footer {
        text-align: center;
    }
    
    .alert.alert-danger {
        background-color: #f8d7da;
        /* Couleur de fond rouge pâle */
        color: #721c24;
        /* Couleur du texte rouge foncé */
        border: 1px solid #f5c6cb;
        /* Bordure rouge clair */
        padding: 15px;
        /* Padding pour l'intérieur de l'alerte */
        margin: 0 0 20px 0;
        /* Marge de 20px en haut, 10px en bas et aucune marge sur les côtés */
        border-radius: 5px;
        /* Coins arrondis */
        text-align: center;
        /* Centrer le texte */
        font-size: 16px;
        /* Taille de la police */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* Légère ombre pour l'effet */
    }
    /* Style principal pour la page */
    
    .conteneur {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }
    
    h3 {
        text-align: center;
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    label {
        font-weight: bold;
    }
    
    ul,
    ol {
        padding-left: 20px;
        /* Ajustez selon vos besoins */
        list-style: none;
        /* Retire les puces par défaut */
    }
    
    ul li,
    ol li {
        align-items: center;
        /* Centre le point avec le début du texte */
        margin-bottom: 5px;
        /* Espace entre les éléments de liste */
    }
    
    ul li::before,
    ol li::before {
        content: "•";
        /* Ajoute un point personnalisé */
        color: black;
        /* Couleur du point */
        font-size: 1.2em;
        /* Taille du point */
        margin-right: 8px;
        /* Espace entre le point et le texte */
    }