/* Styles pour la section */
section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
}

.intro {
    width: 80%;
    margin: 0 auto; /* This will center the block horizontally */
    text-align: center; /* This will center the text inside the block */
    margin-block-end: 5%;
}

.intro h2 {
    text-align: center;
}

.intro p {
    text-align: center;
}


/* Styles pour les conteneurs */
.conteneur {
    text-align: left; /* Aligner le texte à gauche dans les conteneurs */
}

/* Styles pour les images */
.custom-img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin: 10px 0;
}

.custom-img:hover {
    transform: scale(1.1);
    margin: 40px 0;
}

/* Styles pour les titres */
h2, h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333; /* Couleur du texte */
}

/* Style spécifique pour h3 */
h3 {
    font-size: 1.2em;
}

/* Styles pour l'introduction */
section > h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #555; /* Couleur du texte */
}

section > p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #777; /* Couleur du texte */
}


.groupe-graphique {
    background-color: #d6d6d6; /* Couleur de fond douce */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Légère ombre pour effet de profondeur */
    overflow: hidden;
    padding: 1.5rem;
    margin: 1rem;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Style pour le conteneur de texte */
.groupe-graphique .conteneur {
    margin-bottom: 1rem;
}

/* Style pour le titre */
.groupe-graphique h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Style pour les paragraphes */
.groupe-graphique p {
    color: #000000; /* Gris clair pour une lisibilité douce */
    margin-bottom: 0.5rem;
}

/* Style de l'image */
.custom-img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Légers coins arrondis pour l’image */
    margin-top: 1rem
}

section {
    display: flex;
    flex-direction: column;
}

.ligne{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}