/* Styles pour la section */
section {
    text-align: center;
}

/* Styles pour les titres */
h2 {
    font-size: 2em;
    color: #092435;
    margin-top: 30px;
}

/* Styles pour les paragraphes */
.paragraph-margin {
    margin: 10px 0;
    font-size: 1.2em;
    color: #555;
}

/* Styles pour les boutons */
.custom-button {
    display: inline-block;
    background-color: #092435;
    border: 2px solid #fff;
    color: #fff;
    padding: 1% 2%; /* Ajustez l'espacement intérieur pour s'adapter au texte */
    margin: 10px;
    font-family: 'tytoon_mist', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px; /* Ajout de bords arrondis */
}

.custom-button:hover {
    background-color: #fff;
    color: #092435;
}

.large-button {
    display: inline-block; /* Ajustez le display */
    width: auto; /* Largeur automatique en fonction du contenu */
    margin: 20px 10px; /* Ajustez la marge */
}

