{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Energy & danceability</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'overview.css' %}">
</head>

<body>
    <header>
        <h1>Spotify Project - Analyse de l'Énergie et de la Dansabilité des Morceaux</h1>
        <nav>
            <ul>
                <li><a href="../../home">Accueil</a></li>
                <li><a href="../">Redirection</a>
                    <ul>
                        <li><a href="../overview">Aperçu de la Playlist</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>

    <div class="intro">
        <h2>Plongée dans l'énergie et la dansabilité de votre playlist</h2>
        <p>
            Bienvenue dans votre analyse personnalisée de playlist ! Découvrez divers graphiques mettant en lumière des aspects captivants tels que le niveau d'énergie et la dansabilité de vos morceaux préférés. Vous pourrez visualiser à quel point votre musique
            vous booste ou vous invite à danser, et identifier les morceaux qui se démarquent par leur intensité et leur rythme.
        </p>
    </div>

    <section>

        <div class="ligne">
            <div class="groupe-graphique">
                <div class="conteneur">
                    <h3>Analysons ensemble les caractéristiques audio principales de ta playlist</h3>
                    <p>Pourquoi ces valeurs moyennes se démarquent-elles dans l'analyse ?</p>
                    <p>Est-ce que la "dansabilité" plus élevée reflète un choix intentionnel pour des morceaux dynamiques et entraînants, ou bien ces morceaux s'intègrent-ils naturellement à tes moments préférés de la journée ?</p>
                </div>
                <img class="custom-img" src="data:image/png;base64,{{ img_bar }}" alt="Danceability, Energy et Valence moyenne">
            </div>

            <div class="groupe-graphique">
                <div class="conteneur">
                    <h3>Explorons ensemble l'énergie présente dans ta playlist</h3>
                    <p>Pourquoi ces variations d’énergie sont-elles si marquées à travers les morceaux ?</p>
                    <p>Penses-tu que ces fluctuations reflètent ton humeur au moment de la sélection, ou bien cherchent-elles à créer un équilibre dans l’expérience d’écoute globale ?</p>
                </div>
                <img class="custom-img" src="data:image/png;base64,{{ img_energy_evolution }}" alt="Flux d'Énergie à Travers la Playlist">
            </div>
        </div> 

        <div class="ligne">

            <div class="groupe-graphique">
                <div class="conteneur">
                    <h3>Analyse en toile des caractéristiques musicales</h3>
                    <p>Examinons de plus près ton graphique en toile, qui montre les différentes caractéristiques musicales que tu écoutes le plus !</p>
                    <p>Ce graphique met en évidence plusieurs critères, comme l'intensité des rythmes, la créativité des mélodies, et bien d'autres aspects musicaux qui caractérisent tes préférences.</p>
                    <p>Chaque axe représente un aspect spécifique de la musique, et l'échelle radiale permet de visualiser dans quelle mesure ces caractéristiques ressortent dans ta playlist.</p>
                    <p>Alors, qu'est-ce qui ressort le plus pour toi ? Peut-être préfères-tu des rythmes intenses, des mélodies créatives, ou d'autres aspects ?</p>
                    <p>C'est l'occasion de mieux comprendre les éléments musicaux qui te captivent et pourquoi certains genres ou artistes ont une place particulière dans ta playlist.</p>
                </div>
                {% if img_radar %}
                <img class="custom-img" src="data:image/png;base64,{{ img_radar }}" alt="Graphique en toile de tes Préférences Musicales"> {% else %}
                <p>Le graphique radar n'est pas disponible.</p>
                {% endif %}
            </div>
        </div>

    </section>
</body>

</html>