{% load static %}
<!DOCTYPE html>

<html lang="fr">

<head>
    <title>Spotify Playlist Stats</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
</head>

<body>
    <header>
        <h1>Projet d'Analyse des Données Spotify</h1>
    </header>


    <section>
        <h2>Explication du projet</h2>
        <p>Nous avons développé une application qui analyse les données issues de Spotify. Pour ce projet, nous avons utilisé l'API Spotify pour extraire et stocker les données dans des fichiers CSV. Une autre application exploite ces informations pour offrir
            divers traitements spécifiques aux utilisateurs, décris dans les objectifs ci-dessous.</p>
        <br>
        <h2>Objectifs</h2>
        <ul>
            <li>Analyser une playlist fournie par l'utilisateur pour en donner un aperçu personnalisé.</li>
            <li>Fournir des informations sur les genres et artistes les plus écoutés dans la playlist.</li>
            <li>Évaluer des aspects tels que l'énergie et la dansabilité des morceaux.</li>
        </ul>
        <br>
        <br>
        <h2>Méthodologie</h2>
        <p>Nous suivons une méthodologie en deux étapes :</p>
        <ul>
            <li>Collecte de données : Utilisation de l'API Spotify pour récupérer les données de morceaux, playlists, et caractéristiques musicales.</li>
            <li>Analyse et visualisation : Traitement des données recueillies pour produire des analyses et des insights pertinents pour l'utilisateur à l'aide de Django.</li>
        </ul>
        <br>
        <br>
        <br>
        <h2>Analyse de votre Playlist</h2>
        <form action="redirection/connexion_spotify/" method="post">
            {% csrf_token %}
            <label for="playlist_url">Entrez le lien de votre playlist Spotify :</label><br>
            <input type="url" id="playlist_url" name="playlist_url" required placeholder="https://open.spotify.com/playlist/..." style="width: 80%; padding: 10px;"><br><br>

            <!-- Div pour l'URL par défaut -->
            <div class="url-default">
                <p><strong>URL par défaut :</strong></p>
                <div class="url-container">
                    <p id="default-url" class="url-text">
                        https://open.spotify.com/playlist/58kGLWAuX56MlVkKlOgoTy
                    </p>
                    <button type="button" id="copy-button" class="copy-btn" onclick="copyToClipboard()">Copier</button>
                </div>
                <p class="url-instructions">Copiez cette URL dans le champ ci-dessus si vous souhaitez analyser cette playlist par défaut.</p>
            </div>

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <input type="submit" value="Analyser Playlist" class="submit-btn">
        </form>
        </div>

        <script>
            // Fonction pour copier l'URL au presse-papiers
            function copyToClipboard() {
                var copyText = document.getElementById("default-url");
                var textToCopy = copyText.innerText.trim(); // Utilisation de innerText et trim() pour enlever les espaces avant/après

                var textArea = document.createElement("textarea");
                textArea.value = textToCopy; // On assigne le texte sans espaces superflus
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("copy");
                document.body.removeChild(textArea);
            }
        </script>
    </section>
    <br><br><br>
    <footer>
        <h2>Auteurs</h2>
        <p>Clément PAYARD, Jeanne DOMANSKI, Pierre BOUTERIGE & Louane MECHOUD</p>
    </footer>
</body>

</html>