{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Aperçu de la Playlist</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'overview.css' %}">
</head>

<body>
    <header>
        <h1>Spotify Projet - Une vue globale de la playlist</h1>
        <nav>
            <ul>
                <li><a href="../../home">Accueil</a></li>
                <li><a href="../">Redirection</a>
                    <ul>
                        <li><a href="../energy">Energy & danceability</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>

    <div class="intro">
        <h2>Faisons une analyse des tendances musicales et artistique de votre playlist</h2>
        <p>
            Bienvenue dans votre analyse de playlist. Vous retrouverez entre autre diverse graphe présentant vos artistes préférés et le style de musique que vous écoutez le plus. Enfin, un graphe représentant la durée moyenne de vos musiques en fonction de leur
            genre.
        </p>
    </div>

    <section>

        <div class="ligne">
            <div class="groupe-graphique">
                <div class="conteneur">
                    <h3>Top 10 des Artistes</h3>
                    <p>Regardons de plus près les artistes que tu écoutes le plus !</p>
                    <p>Cette sélection montre ceux qui reviennent le plus souvent dans ta playlist, révélant sans doute certains de tes goûts musicaux préférés.</p>
                    <p>Alors, qu'est-ce qui rend ces artistes si spéciaux pour toi ?</p>
                    <p>Est-ce leur style, leur créativité, ou simplement leurs rythmes accrocheurs qui te captivent ?</p>
                    <p>C'est l’occasion d’explorer ce qui rend ces artistes si uniques et pourquoi ils ont une place de choix dans ta playlist.</p>
                </div>
                <img class="custom-img" src="data:image/png;base64,{{ img_top_artists }}" alt="Top 10 des Artistes de Ta Playlist">
            </div>

            <div class="groupe-graphique">
                <div class="conteneur">
                    <h3>Top 10 des Genres</h3>
                    <p>Découvrons ensemble les genres les plus écoutés dans ta playlist !</p>
                    <p>Qu’est-ce qui rend ces genres si populaires chez toi ?</p>
                    <p>Ces genres dominent-ils ta playlist parce qu'ils ont des caractéristiques uniques qui te plaisent, ou peut-être parce qu’ils s’adaptent bien à tes moments d’écoute favoris ?</p>
                </div>
                <img class="custom-img" src="data:image/png;base64,{{ img_top_genres }}" alt="Top 10 des Genres dans Ta Playlist">
            </div>
        </div>

        <div class="ligne">
            <div class="groupe-graphique">
                <div class="conteneur">
                    <h3>Durée Moyenne des Morceaux par Genre</h3>
                    <p>Ce graphique compare la durée moyenne des morceaux selon les genres. Les morceaux plus longs dans certains genres pourraient refléter une préférence pour des expériences musicales immersives, comme les ballades ou les morceaux instrumentaux.
                        À l'inverse, les morceaux plus courts pourraient correspondre à des genres dynamiques et entraînants, comme la pop ou l'électro.</p>
                    <p>Alors, ton genre préféré prend-il le temps de te transporter ou préfère-t-il aller droit au but ?</p>
                </div>
                <img class="custom-img" src="data:image/png;base64,{{ img_average_duration }}" alt="Durée Moyenne des Morceaux dans Ta Playlist">
            </div>
        </div>
    </section>
</body>

</html>