{% load static %}
<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Redirection</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'redirection.css' %}">
</head>

<body>


    <header>
        <h1>Spotify Projet - Une analyse prédictive de la musique sur Spotify</h1>
        <nav>
            <ul>
                <li><a href="../home">Accueil</a></li>
                <li><a href="">Redirection</a>
                    <ul>
                        <li><a href="/overview">Aperçu de la Playlist</a></li>
                        <li><a href="energy">Energy & danceability</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>


    <section>
        <h2>Aperçu de la Playlist :</h2>
        <p class="paragraph-margin">Aperçu de la Playlist de Spotify pour comprendre quelles sont les chansons, les artistes et les genres les plus populaires de ta playlist.</p>
        <a href="overview" class="custom-button large-button">Voir son analyse</a>

        <h2>Energy & danceability :</h2>
        <p class="paragraph-margin">Grâce aux caractéristiques audio de Spotify, nous pouvons analyser des éléments clés tels que la danceability, l'énergie, et la valence des morceaux. Ces données nous permettent de mieux comprendre dans quelle mesure ces caractéristiques ressortent
            dans ta playlist.</p>
        <a href="energy" class="custom-button large-button">Voir ses caractéristiques audio</a>

    </section>

</body>

</html>